{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{%block title %}
    New List
{% endblock title %}

{% block content %}
<h1 class="text-center">Новости<span class="text-muted fs-6 fw-normal">Bcero: {{ page_obj.paginator.count }}</span></h1>
<!--    {% if is_not_subscriber %}-->
<!--        <p class="text-center"><a href="{}" class="btn btn-secondary brn-sm">Подписаться</a> </p>-->
<!--    {% endif %}-->
<hr>

</ul class='list-group list-group-flush'>
    {for post in category_news_list %}
        <li class='list-group-item'>
            <small class="fw-bold">{{ post.time_post | date:'d M Y' }} </small>
            <a href="{% url 'post' post.id %}">{{ post.header }}</a>
            <small class="text-muted">(Автор: {{post.author}}</small> <br>
            <small class="fw-bold">Категории:
                {% for category in post.category.all %}
                        <a href="{% url 'post' category.id %}">{{ category }}</a>
                {% endfor %}
            </small>
            <p>{{post.text}}</p>
        </li>
    {% endfor %}
</ul>


    <hr>
    {% if posts %}
        <table>
            <tr>
                <td>Категория</td>
                <td>Заголовок</td>
                <td>Статья</td>
                <td>Дата публикации</td>
            </tr>

            {% for post in posts %}
            <tr>
                <td>{{ post.choice }}</td>
                <td>{{ post.header|censor }}</td>
                <td>{{ post.text|truncatechars:20|censor }}</td>
                <td>{{ post.time_post }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href='?{% url_replace page=1 %}'>1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {%endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}


{% endblock content %}